.hand {
  &__default {
    cursor: pointer;
  }
  &__grabbing {
    cursor: grabbing;
  }
}

.pen {
  &__default {
    // cursor: url("../img/pen.png"), crosshair;
    cursor: crosshair;
  }
}

.eraser {
  &__default {
    cursor: move;
  }
}
.text {
  &__default {
    cursor: text;
  }
}