$color_1: white;
$background-color_1: black;
$background-color_2: blue;

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;



}
nav{
	// background-color: white;
	// position: relative;
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

.navbar {
	// background-color: white;
	// // height: 10px;
	// position: relative;
	// // top: 30px;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// gap: 20px;
	padding: 3px;
		// width: auto;
		// height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 16px;
		background: rgba(83, 83, 83, 0.25);
		backdrop-filter: blur(13px);
		-webkit-backdrop-filter: blur(13px);
		border: 1px solid rgba(255, 255, 255, 0.18);
}

// for createtextbox

input[type="text"] {
	border: none;
	/* Removing border from text boxes */
	outline: none;
	/* Removing the outline */
	background: transparent;
}

.image-board {
	position: absolute;
	z-index: -1;
}

.bg__image {
	display: none;
}

@media screen and (max-width:575px) {
	html{
	width: 100%;
	height: auto;
	}
}