.slider {
  width: 300px;
  position: absolute;
  bottom: $dock-margin-bottom + $dock-height + 10px;
  // margin: 0 auto 120px auto;
  // margin: 0;
  // padding: 0;
}

.value {
  text-align: center;
}