.footer{
    background-color: #0B153C;
    filter: grayscale(20%);
    // background-image: url("/assets/img/registration_vaccine.png");

    // background: url("/assets/img/hero_background.png");
    // background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 328px 80px 133px 67px;
   
    &__wrapper{
        display: flex;
        gap: 20px;
        
        
    }
    ul{
        list-style: none;

    
        a{
            text-decoration: none;
        }
    
    }
    &__social{
        display: flex;
        gap: 10px;
        
       
    }
    
}



.quote{
    &__backbg{
        border-radius: 50px;
        background: rgba(196, 196, 196, 0.15); 
    }
    &__frontbg{
        border-radius: 50px;
        background: $blue;
    }
}