.registration{
    background-image: url("/assets/img/registration_bg.png");
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 266px;
    &__left{
        &--action{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            gap:36px;
            text-align: center;
            
        }


    }
    &__header{
        padding-top: 40px 0 20px 0;
    }
    &__right{
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__image{
        &--section{
            border-radius: 20px;
            background: #0B153C;

        }
        
        
    }
}


.field{
    &--title{
        
    }
}
.width100{
    width: 100%;
}

#get__vaccine--text{
    text-align: left;
    width: 450px;
    word-wrap:break-word;
}
#registration__notification--text{
    text-align: left;
}

#registration__corona{
    // position: absolute;
    // top: 0;
    // right:-10;
}