.bg{
    &__image{
        // background-image: url("/assets/img/registration_vaccine.png");

        background-image: url("/assets/img/hero_background.png");
        // background-color: blue;
    }
    margin: 0;
} 
body{
    margin: 0;
}  
