.container {
  margin: auto;
  padding: 0 70px;
  box-sizing: border-box;
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 35px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 992px) {
  .hero__left,
  .hero__right,
  .registration__left,
  .registration__right {
    width: 100%;
  }
}
figure {
  margin: 0;
}

.bg {
  margin: 0;
}
.bg__image {
  background-image: url(../assets/img/hero_background.png);
}

body {
  margin: 0;
}

.font {
  font-family: "Montserrat";
}
.font__small {
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-style: normal;
}
.font__small--grey {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: 500;
}
.font__small--black {
  color: #000;
  text-align: center;
  font-weight: 500;
}
.font__small--blue {
  color: #17C2EC;
  font-weight: 700;
}
.font__small--white {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font__medium {
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.font__medium--white {
  color: #FFF;
  font-weight: 700;
}
.font__medium--grey {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
.font__medium--blue {
  color: #17C2EC;
  font-weight: 700;
}
.font__medium--black {
  color: #000;
  font-weight: 700;
}
.font__big {
  font-size: 48px;
  line-height: normal;
}
.font__big--white {
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 700;
}
.font__big--blue {
  color: #17C2EC;
  font-style: normal;
  font-weight: 800;
}
.font__big--black {
  color: #000;
  text-align: center;
  font-style: no;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px 0;
  box-sizing: border-box;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px 0;
}
@media screen and (max-width: 992px) {
  .nav__wrapper {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .nav__wrapper img {
    display: none;
  }
}
.nav ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  align-items: center;
}
.nav ul li {
  text-decoration: none;
}
.nav a {
  text-decoration: none;
}

.btn__bluebg {
  background: #17C2EC;
  border: none;
}
.btn__greybg--blueborder {
  border: 2px solid #17C2EC;
  background: rgba(196, 196, 196, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn__greybg--noborder {
  background: rgba(196, 196, 196, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

button {
  gap: 10px;
  border-radius: 20px;
  padding: 20px 25px;
}

.hero {
  margin-top: 100px;
}
.hero__top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 992px) {
  .hero__top {
    flex-direction: column;
  }
}
.hero__schedule {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero__actions {
  display: flex;
  gap: 20px;
  padding: 50px 0;
}
.hero__ribbon--back {
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.05);
  padding-top: 10px;
  margin-top: 10px;
}
.hero__ribbon--front {
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.1);
}
.hero__ribbon--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  gap: 20px;
}
#hero--title {
  padding: 40px 50px 50px 0;
  text-align: left;
  width: 550px;
  word-wrap: break-word;
}

#hero--description {
  width: 600px;
  word-wrap: break-word;
  font-weight: 700;
}

.icon__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.1);
  padding: 20px;
}
.icon img {
  width: 50px;
  height: 30px;
}

.vaccine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  background: rgba(255, 255, 255, 0.5);
  height: 150px;
  padding: 0 71px;
  max-width: 100%;
  white-space: nowrap;
}
@media screen and (max-width: 992px) {
  .vaccine {
    background-color: #FFF;
    white-space: nowrap;
  }
}
.vaccine__type {
  max-width: 100%;
  height: auto;
  justify-content: space-around;
  box-sizing: border-box;
}
.vaccine__type img {
  max-width: 100%;
  height: auto;
  filter: grayscale(99%);
}

.field__blueborder {
  border-radius: 20px;
  border: 3px solid #17C2EC;
  background-color: transparent;
  padding-left: 25px;
  padding: 20px 0 20px 30px;
}
.field__greyborder {
  border-radius: 20px;
  border: 3px solid rgba(196, 196, 196, 0.15);
  padding: 20px 0 20px 30px;
}
.field__grey--bg {
  border-radius: 20px;
  background: rgba(11, 21, 60, 0.15);
  border: none;
  padding: 20px 0 20px 30px;
}

.checkform {
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.1);
  padding-bottom: 35px;
}
.checkform__margin {
  padding: 63px 70px;
}
.checkform__top {
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.05);
  padding: 36px 0 36px 93px;
}
.checkform__mid {
  padding: 0 93px 0 93px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .checkform__mid {
    flex-direction: column;
    gap: 20px;
    align-items: left;
  }
}
.checkform__bottom {
  margin: 0 93px 35px 93px;
  padding: 20px 0;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.05);
  text-decoration: none;
  max-height: 70px;
  text-align: center;
}

#checkform__fields {
  padding: 35px 93px 35px 93px;
}

#checkform__bottom--text {
  white-space: nowrap;
}
@media screen and (max-width: 992px) {
  #checkform__bottom--text {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  #checkform__bottom--text {
    font-size: 24px;
  }
}

#checkform__name {
  width: 450px;
}

#checkform__number {
  width: 450px;
}

#checkform__anchor {
  text-decoration: none;
}

.registration {
  background-image: url("/assets/img/registration_bg.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 266px;
}
.registration__left--action {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  gap: 36px;
  text-align: center;
}
.registration__header {
  padding-top: 40px 0 20px 0;
}
.registration__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registration__image--section {
  border-radius: 20px;
  background: #0B153C;
}

.width100 {
  width: 100%;
}

#get__vaccine--text {
  text-align: left;
  width: 450px;
  word-wrap: break-word;
}

#registration__notification--text {
  text-align: left;
}

.testimonial {
  background: url("/assets/img/registration_bg.png");
}
.testimonial__text {
  text-align: center;
}

.review {
  margin: 0px 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
.review__descriptionfont {
  color: rgba(46, 18, 18, 0.6);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.review__name {
  margin: 0;
  padding-bottom: 5px;
  text-align: left;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review__address {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review__box {
  margin-bottom: 123px;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.5);
  max-width: 400px;
  height: auto;
  padding: 30px 35 45px 35px;
}
.review__box--people {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.review__box__description {
  padding-top: 40px;
}
.review__image {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.review__description {
  padding: 0 33px 44px 33px;
  margin: 0;
}

#testimonial__title {
  padding: 57px 0 20px 0;
  margin: 0;
}

#testimonial__description {
  padding: 40px 0 100px 0;
  width: 953px;
  margin: auto;
}

#testimonial__heading {
  margin: 0;
}

#review__box--blue {
  background: #17C2EC;
}

#review__font--white {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer {
  background-color: #0B153C;
  filter: grayscale(20%);
  background: url("/assets/img/hero_background.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 328px 80px 133px 67px;
}
.footer__wrapper {
  display: flex;
  gap: 20px;
}
.footer ul {
  list-style: none;
}
.footer ul a {
  text-decoration: none;
}
.footer__social {
  display: flex;
  gap: 10px;
}

.prevention__symptom--wrapper {
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.2);
}

/*# sourceMappingURL=style.css.map */
