.symptom{
    &__item{
        display: flex;
        align-items: center;
        position: relative;
        figure{
            margin: 0;
            max-width: 140px;
            position: absolute;
            left: -45px;
        }
        img{
            width: 100%;

        }
        &--text{
            border: 1px solid red;
            padding: 10px 60px 10px 80px;
        }
    }
}