.task{
    &__wrapper{
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 20px 20px;
        height: 100%;
        width: inherit;
    }
   

}




ul{
    li{
        list-style: none;
        cursor: pointer;
    }
}

.circular__checkbox {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid black;
    cursor: pointer;
  }
  
  /* Additional styling when checked */
  .circular-checkbox:checked {
    background-color: #008000;
    border: 2px solid #008000;
  }

 .task__fields{
    &__container,
    &__completed,
    &__remaining{
        display: none;

    }

 }
 
  .active{
    display: block;
  }


  #task-fields-completed{
    background: green;
    // width:100vw;
  }
  #task-fields-remaining{
    background: red;
  }
  

